@import "bootstrap/bootstrap";

// Bootstrap overrides
@btn-font-weight: 300;
@navbar-border-radius: 0px;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

// APPLICATION IMPORTS
@import "pixel/pixel";