.preview-container {
  text-align: center;
}

.image-preview {
  display: inline-block;
  position: relative;
  height: auto;
  max-width: 100%;
  padding: 4px;
  margin-bottom: @image-preview-margin-bottom;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: @image-preview-border-radius;

  // Image actions
  .btn-toolbar {
    position: absolute;
    top: 15px;
    right: 20px;
  }

  .btn {
    opacity: 0.75;

    &:hover {
      opacity: 1.0;
    }

    &.dropdown-toggle {
      padding-left: @padding-base-horizontal;
      padding-right: @padding-base-horizontal;
    }
  }

  #crop-toolbar {
    float: right;
    margin-top: 5px;
  }

  .jcrop-holder img { max-width: none;}

}

.image-preview img {
  display: block;
  width: auto;
  height: auto;
  max-width: @image-preview-max-width;
  max-height: @image-preview-max-height;
}

// Image links
.form-control[readonly].select-on-focus {
  background-color: @panel-default-heading-bg;
  cursor: copy;
}

.image-show-container {
  padding-bottom: 20px;

  .input-group {
    margin-bottom: 10px;
  }

  #details-container {
    //.transition(opacity 0.35s linear);
  }
}